<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="TaskTickr.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <TaskTickr.Properties.Settings>
            <setting name="Jira_GetTasks" serializeAs="String">
                <value>/api/2/search?jql=assignee=currentuser()</value>
            </setting>
            <setting name="Jira_FilterQuery" serializeAs="String">
                <value>assignee=currentuser() AND status NOT IN (STATUS_LIST)</value>
            </setting>
            <setting name="Jira_TaskSearchEndpoint" serializeAs="String">
                <value>rest/api/2/search?jql=</value>
            </setting>
            <setting name="Jira_LogTaskTime" serializeAs="String">
                <value>rest/api/2/issue/TASK_ID/worklog</value>
            </setting>
        </TaskTickr.Properties.Settings>
    </userSettings>
</configuration>